<div id="menu">
  <div class="item image-left">
    <div class="image" id="menu-1" ng-click="$state.transitionTo('page', { page_id: 'korporativi' })"></div>
    <div class="title" ng-click="$state.transitionTo('page', { page_id: 'korporativi' })">корпоративные<br>праздники</div>
  </div>
  <div class="item image-left">
    <div class="image" id="menu-2" ng-click="$state.transitionTo('page', { page_id: 'oleg' })"></div>
    <div class="title" ng-click="$state.transitionTo('page', { page_id: 'oleg' })">ваш ведущий<br>Олег Погорелец</div>
  </div>
  <div class="item image-left">
    <div class="image" id="menu-3" ng-click="$state.transitionTo('page', { page_id: 'gulyaniya' })"></div>
    <div class="title" ng-click="$state.transitionTo('page', { page_id: 'gulyaniya' })">массовые<br>гуляния</div>
  </div>
  <div class="item image-right">
    <div class="image" id="menu-4" ng-click="$state.transitionTo('page', { page_id: 'child' })"></div>
    <div class="title" ng-click="$state.transitionTo('page', { page_id: 'child' })">детские<br>праздники</div>
  </div>
  <div class="item image-right">
    <div class="image" id="menu-5" ng-click="$state.transitionTo('page', { page_id: 'birthday' })"></div>
    <div class="title" ng-click="$state.transitionTo('page', { page_id: 'birthday' })">дни<br>рождения</div>
  </div>
  <div class="item image-right">
    <div class="image" id="menu-6" ng-click="$state.transitionTo('page', { page_id: 'wedding' })"></div>
    <div class="title" ng-click="$state.transitionTo('page', { page_id: 'wedding' })">свадьбы</div>
  </div>
</div>